<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/9d4352a4a2.js" crossorigin="anonymous"></script>

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="criptomarket/static/images/favicon.png">

</head>
<body>
    <div class="container">
        <h1>Criptomarket, consulta el mercat de la criptomoneda amb tota la confiança.</h1>
        <div class="row">
            <nav class="navbar">
                <a href="./" class="button xs-eleven xs-offset-by-four sm-three md-two md-offset-by-three lg-two lg-offset-by-four four columns menu-button fa fa-home"> Benvinguda</a>
                <a href="./purchase" class="button xs-eleven xs-offset-by-four sm-three md-two md-offset-by-three lg-two lg-offset-by-four four columns menu-button fa fa-money"> Fes una compra</a>
                <a href="./status" class="button xs-eleven sm-three md-two lg-two four columns menu-button fa fa-calculator"> Inversions</a>
            </nav>
        </div>
        
        <hr class="menu-divider">
    </div>
        {% block body %}
        {% endblock %}
    </div>
    <footer><p align="center">Criptomarket &copy;2021 <br> Josep Miquel Arenas | KeepCoding BC0</p></footer>
</body>
</html>