<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/9d4352a4a2.js" crossorigin="anonymous"></script>

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/purchase.css">
    <link rel="stylesheet" href="/static/css/status.css">
    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</head>
<body>
    <div class="container cabecera">
        <img id="logo" src="{{url_for('static', filename='images/logo.png')}}" align="middle" />
        <h3 style="margin-top: -44px; margin-bottom: 30px; LETTER-SPACING: 10px; font-size: 15px;">UN CRIPTOSIMULADOR QUALSEVOL</h3>

        <div class="row">
            <nav class="navbar">
                {% if request.path == '/' %}
                <a href="./" class="button xs-eleven xs-offset-by-four sm-three md-two md-offset-by-three lg-two lg-offset-by-four four columns menu-button boton-menu fa fa-home" style="pointer-events:none; color:blue; border-color:blue;"> Holi</a>
                {% else %}
                <a href="./" class="button xs-eleven xs-offset-by-four sm-three md-two md-offset-by-three lg-two lg-offset-by-four four columns menu-button boton-menu fa fa-home"> Home</a>
                {% endif %}

                {% if request.path == '/purchase' %}
                <a href="./purchase" class="button xs-eleven xs-offset-by-four sm-three md-two md-offset-by-three lg-two lg-offset-by-four four columns menu-button boton-menu fa fa-money" style="pointer-events:none; color:blue; border-color:blue;"> Compra</a>
                {% else %}
                <a href="./purchase" class="button xs-eleven xs-offset-by-four sm-three md-two md-offset-by-three lg-two lg-offset-by-four four columns menu-button boton-menu fa fa-money"> Compra</a>
                {% endif %}

                {% if request.path == '/status' %}
                <a href="./status" class="button xs-eleven xs-offset-by-four sm-three md-two md-offset-by-three lg-two lg-offset-by-four four columns menu-button boton-menu fa fa-money" style="pointer-events:none;  color:blue; border-color:blue;"> Estat</a>
                {% else %}
                <a href="./status" class="button xs-eleven sm-three md-two lg-two four columns menu-button boton-menu fa fa-calculator"> Estat</a>
                {% endif %}

            </nav>
        </div>
        
        <hr class="menu-divider">
    </div>

        {% block body %}
        {% endblock %}
    </div>
    <footer class="cabecera">
    <p align="center">Criptomarket &copy;2021 <br> Josep Miquel Arenas | KeepCoding BC0</p>
    
    </footer>
</body>
</html>