{% extends 'base.html' %}
{% block title %} Benvinguda {% endblock %}
{% block body %}

<div class="container">
    <div class="row wallet">
        
        <div class="four columns" style="transform: rotate(-90deg);">
            <h1 class="texto-portada">WALLET.</h1>
            <i class="fas fa-wallet icones"></i>
        </div>

        <div class="eight columns">
            <table class="wallet">
                <tr>
                    <th>Moneda</th>
                    <th>Quantitat</th>
                </tr>
                {% for moneda, valor in wallet.items() %}
                </tr>
                    <td>{{ moneda }}</td>
                    <td>{{ valor }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>

    <div class="row moviments">

        <div class="eight columns">
            <table class="moviments">
                {% if lista_movimientos |length > 0 %} 
                <tr>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>De</th>
                    <th>Quantitat</th>
                    <th>A</th>
                    <th>Quantitat</th>
                </tr>
                {% for movimiento in lista_movimientos %}
                    <tr>
                        <td>{{ movimiento['date']}}</td>
                        <td>{{ movimiento['time'] }}</td>
                        <td>{{ movimiento['from_moneda'] }}</td>
                        <td>{{ movimiento['from_cantidad'] }}</td>
                        <td>{{ movimiento['to_moneda'] }}</td>
                        <td>{{ movimiento['to_cantidad'] }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>No hi ha hagut moviments fins ara</p>
            {% endif %}
            </table>
        </div>

        <div class="four columns" style="transform: rotate(+90deg);">
            <h1 class="texto-portada">MVMNTS.</h1>
            <i class="fas fa-file-medical-alt icones"></i>
        </div>

    </div>

    <div class="row preus">

        <div class="four columns" style="transform: rotate(-90deg);">
            <h1 class="texto-portada">PREUS.</h1>
            <td class="icona-centrada"><i class="fas fa-dollar-sign icones"></i></td>
        </div>

        <div class="eight columns">
            <table class="preus">
                <tr>
                    <th>Moneda</th>
                    <th>Preu</th>
                </tr>
            {% for i in dict_monedas %}
                <tr>
                    <td>{{ i }}</td>
                    <td>{{ dict_monedas[i][1]|round(3) }}€</td>
                </tr>
            {% endfor %}
            </table>    
        </div>

    </div>

</div>

{% endblock %}