{% extends 'base.html' %}
{% block title %} Registra't a Criptomarket {% endblock %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
<h2>Què vols fer?</h2>

<h2>Fes una compra de criptomoneda</h2>
<form method=post >
    {{ form.csrf_token }}
    <table>
        <tr>
            <th> {{ render_field(form.moneda_compra_from) }} </th>
            <th> {{ render_field(form.moneda_compra_to) }} </th>
        </tr>
        <tr>
            <th> {{ render_field(form.cantidad_compra) }} </th>
            {% if cantidad_obtenida == 0 %}
                <th> <b>Són un total de:</b><br>... </th>
                <th> <b>Preu unitat:</b><br>... </th>
            {% else %}
                <th> <b>Són un total de:</b><br>{{ cantidad_obtenida|round(5)}} {{ moneda_to }} </th>
                <th> <b>Preu unitat:</b><br>{{ precio_unidad|round(2)}} € </th>
            {% endif %}
        </tr>
        <tr>
            <th> {{ form.calcular_compra }} </th>
            <th> {{ form.confirmar_compra }} </th>
        </tr>
    </table>
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <p id="error"><b> {{ message }} </b></p>
    {% endfor %}
{% endif %}
{% endwith %}

{% endblock %}