{% extends 'base.html' %}
{% block title %} Registra't a Criptomarket {% endblock %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
<h2>Fes una compra de criptomoneda</h1>
<form method=post>
    {{ form.csrf_token }}
    <dl>
    <table>
        <tr>
            <th> {{ render_field(form.moneda_compra_from) }} </th>
            <th> {{ render_field(form.moneda_compra_to) }} </th>
        </tr>
        <tr>
            <th> {{ render_field(form.cantidad_compra) }} </th>
            <th> <input type=submit value="Fer la compra ✔️"> </th>
        </tr>
    </dl>
    </table>
</form>
{% endblock %}