{% extends 'base.html' %}
{% block title %}Estat de les inversions{% endblock %}
{% block body %}

<div class="row moviments">

    <div class="nine columns">
        <h2 class="titulo-seccion">MVMNTS.</h2>
        <table class="moviments">
            {% if lista_movimientos |length > 0 %} 
            <tr>
                <th>Data</th>
                <th>Hora</th>
                <th>De</th>
                <th>Quantitat</th>
                <th>A</th>
                <th>Quantitat</th>
            </tr>
            {% for movimiento in lista_movimientos %}
                <tr>
                    <td>{{ movimiento['date']}}</td>
                    <td>{{ movimiento['time'] }}</td>
                    <td>{{ movimiento['from_moneda'] }}</td>
                    <td>{{ movimiento['from_cantidad'] }}</td>
                    <td>{{ movimiento['to_moneda'] }}</td>
                    <td>{{ movimiento['to_cantidad'] }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <p class="empty">No hi ha hagut moviments fins ara</p>
            <p><a href="./purchase"> Fes una compra </a></p>
        {% endif %}
        </table>
    </div>
</div>

<div class="container status">
    <div class="row">
        <div class="nine columns">
            <h2 class="titulo-seccion"> INVRSIONS.</h2>
            <table class="wallet">
                <tr>
                    <th>Moneda</th>
                    <th>Valor cripto</th>
                    <th>Valor en euros</th>
                </tr>
                {% for moneda, valor in criptowallet.items() %}
                <tr>
                    <td>{{ moneda }}</td>
                    <td>{{ valor }}</td>
                {% for movimiento in valor_euros %}
                    <td>{{movimiento}}</td>
                {% endfor %}
                {% endfor %}
                </tr>
            </table>
        </div>

    </div>

        <div class="three columns">
            <h2 class="titulo-seccion"> TOTLS.</h2>
            <p> <b>Has invertit un total de:</b>
            {% if inversion_total is not none %} {{ inversion_total }}€
            {% else %} 0€</p>
            {% endif %}
            <p> <b>Balanç total:</b> {{ total_balance }}€ </p> 
        </div>
    </div>
</div>

{% endblock %}
