{% extends 'base.html' %}
{% block title %}Estat de les inversions{% endblock %}
{% block body %}

<div class="container status">
    <div class="row columna-inversiones">
        <div class="three columns">
            <h2 class="titulo-seccion inversiones"> INVRSIONS.</h2>
            <table class="totales_tabla">
                <tr>
                    <th>Moneda</th>
                    <th>Valor cripto</th>
                </tr>
                {% for moneda, valor in criptowallet.items() %}
                <tr>
                    <td>{{ moneda }}</td>
                    <td>{{ valor }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="nine columns">
            <h2 class="titulo-seccion">&nbsp;</h2>
            <table class="moved_table">
                <tr>
                    <th class="valoreneuros">Valor en euros</th>
                </tr>
                {% for movimiento in valor_euros %}
                <tr>
                    <td class="valoreneuros">{{movimiento}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>

        <div class="nine columns">
            <h2 class="titulo-seccion"> TOTLS.</h2>

            <table class="totales_tabla">
                <tr>
                <td>
                    <p> <b>Valor € actual criptos:</b>
                    {% if total_cripto_valores is not none %} {{ total_cripto_valores }}€
                    {% else %} 0€</p>
                    {% endif %}</td>
                </tr>
                
                <tr>
                <td>
                    <p> <b>Euros atrapats en inversions:</b>
                    {% if euros_atrapados is not none %} {{ euros_atrapados }}€
                    {% else %} 0€</p>
                    {% endif %}
                </td>
                </tr>

                <tr>
                <td>
                    <p> <b>Estat actual de la inversió:</b> {{ estado_inversion }}€ </p>
                </td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}
