{% extends 'base.html' %}
{% block title %}Estat de les inversions{% endblock %}
{% block body %}

<div class="container status">
    <div class="row">
        <div class="nine columns">
            <h2 class="titulo-seccion"> INVRSIONS.</h2>
            <table>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Vas comprar:</th>
                    <th>Valor antic:</th>
                    <th>Valor actual:</th>
                    <th>Balanç</th>
                </tr>
            {% if lista_movimientos |length > 0 %} 
                {% for movimiento in lista_movimientos %}
                    <tr>
                        <td>{{ movimiento['date']}}</td>
                        <td>{{ movimiento['time'] }}</td>
                        <td>{{ movimiento['to_cantidad']|round(3) }} {{ movimiento['to_moneda'] }}</td>
                        <td>{{ valores_antiguos[loop.index0]|round(2) }} €</td>
                        <td>{{ valores_actuales[loop.index0]|round(2) }} € </td>
                        <td>{{ valores_actuales[loop.index0]|round(0) - valores_antiguos[loop.index0]|round(0) }} €</td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>No hi ha hagut moviments fins ara</p>
            {% endif %}
            </table>
        </div>

        <div class="three columns">
            <h2 class="titulo-seccion"> TOTLS.</h2>
            <p> <b>Has invertit un total de:</b> {{ inversion_total }}€</p> 
            <p> <b>Balanç total:</b> {{ total_balance }}€ </p> 
        </div>
    </div>
</div>

{% endblock %}
