.status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    color: white;
    background-color: #0f62ff;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen-2.png");
}

.status:hover {
    background-color: #002975;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen-2.png");
}